<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53301547170-fs8siuar4kcff3acslc686453du81tj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53301547170-fs8siuar4kcff3acslc686453du81tj6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>53301547170-dg35tkgncm02r74g70njjnq28vr1g1je.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBNFvi3k4UmErs5__DHtp0ToB7Fvmvb8A</string>
	<key>GCM_SENDER_ID</key>
	<string>53301547170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.odient.userapp</string>
	<key>PROJECT_ID</key>
	<string>odient-197a9</string>
	<key>STORAGE_BUCKET</key>
	<string>odient-197a9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53301547170:ios:2d1de6b98bc0d7493dc7fb</string>
</dict>
</plist>